image: docker:git

services:
  - docker:dind

stages:
  - build

variables:
  # image with have name "$project:$branch" like "captain:master"
  IMAGE_NAME: registry.gitlab.com/artificialmind/mind-future/celestium/celestium-frontend:$CI_COMMIT_REF_SLUG

before_script:
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com

build:
  stage: build
  script:
    - docker build -t $IMAGE_NAME .
    - docker push $IMAGE_NAME
  only:
    - master
    - dev
