version: "3"

services:
  api:
    image: registry.gitlab.com/artificialmind/mind-future/celestium/celestium-api:dev
    volumes:
      - celestium-api-data:/data:rw
    environment:
      MONGODB_CONNECTION_STRING: "mongodb://mongo/"
    ports:
      - 8081:8080
    depends_on:
      - mongo
    restart: unless-stopped

  mongo:
    image: mongo:latest
    volumes:
      - celestium-mongo-data:/data/db:rw
    environment:
      MONGO_INITDB_DATABASE: celestium
    command: --quiet --logpath /dev/null

  frontend:
    build: .
    volumes:
      - ./:/app:rw
    ports:
      - 3000:3000
        # environment:
      # REACT_APP_SOCKET_ADDRESS: "ws://localhost:8081"
    depends_on:
      - api
    command: npm run start


volumes:
  celestium-api-data:
  celestium-mongo-data:
