.gridContainer {
  display: flex; /* IMPORTANT! For some reason... */
  right: 0;
  margin-left: calc(100vw / 2 - (100vh - 57.85px) / 2 - 50px);
  margin-right: calc(100vw / 2 - (100vh - 57.85px) / 2 - 50px);
  height: calc(100vh - 57.85px);
}

.cryptoCanvas {
  image-rendering: -webkit-optimize-contrast; /* Safari */
  image-rendering: pixelated;
  height: calc(100vh - 57.85px);
  max-height: calc(100vw - 36.5px * 2);
}

.question-btn {
  padding: "0";
  font-size: "30px";
  background-color: "#333333";
  color: "white";
  top: "10px";
  right: "10px";
  position: "absolute";
}

.controls {
  padding-right: 5px;
  width: 50px;
  height: 100%;
}

.transform-component-module_wrapper__1_Fgj {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
}

@media (orientation: portrait) {
  .gridContainer {
    display: inline;
    width: 100vw;
    margin-left: 0px;
    margin-right: 0px;
  }

  .cryptoCanvas {
    width: 100vw;
    height: 100vw;
    max-width: calc(100vh - 36.5px - 46.7px - 57.84px);
    max-height: calc(100vh - 36.5px - 46.7px - 57.84px);
  }

  .controls {
    display: flex;
  }
}
