.popup-content {
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #333333;
  color: #ffffff;
  border-right: 0px;
  border-left: 0px;
  border-top: 2px solid #9a9595;
  border-bottom: 2px solid #9a9595;
}

html[data-theme="dark"] .popup-arrow > svg {
  color: #333333;
  stroke-width: 2px;
  stroke: #9a9595;
  stroke-dasharray: 30px;
  stroke-dashoffset: -54px;
}

[data-popup="tooltip"].popup-overlay {
  background: transparent;
}

.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  /*border-bottom: 1px solid gray;*/
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  padding-top: 20px;
}
.modal > .header2 {
  width: 100%;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  padding-top: 2px;
}
.modal > .header3 {
  width: 100%;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  padding-bottom: 2px;
}
.modal > .content {
  margin: auto;
  max-width: 280px;
  text-align: center;
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
}

.cryptoCanvas {
  height: 80vh;
}
