.text {
  margin-top: "auto";
  margin-bottom: "auto";
}

.table-container {
  max-height: 200px;
  overflow-y: scroll;
}

.wallet-header {
  display: flex;
  flex-direction: row;
  width: auto;
  margin: 10px 10px 10px 34px;
}

.wallet-balance {
  margin-top: auto;
  margin-bottom: auto;
  line-height: 14pt;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* .white-scrollbar {
  scrollbar-color: white #333333;
}

.white-scrollbar::-webkit-scrollbar-track {
  background: #333333;
}

.white-scrollbar::-webkit-scrollbar-thumb {
  background-color: white;
} */
