.text {
  margin-top: "auto";
  margin-bottom: "auto";
}

.table-container {
  max-height: 200px;
  overflow-y: scroll;
}

.wallet-container {
  padding-top: 10px;
  height: 100%;
  color: white;
}

.wallet-header {
  display: flex;
  flex-direction: row;
  width: auto;
  margin: 0px 10px 10px 34px;
}

.wallet-balance {
  margin-top: auto;
  margin-bottom: auto;
  line-height: 14pt;
  width: 200px;
}
.celestium-balance {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.asteroids-grid-container {
  overflow-y: scroll;
  height: calc(100vh - 440px);
}

.asteroids-grid {
  margin-top: 0px !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.asteroid {
  width: 256px !important;
  margin: auto;
}

.debris-grid {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.debris-gif {
  width: 200px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.debris-table {
  width: calc(100vw - 200px) !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.warning {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 0;
  font-size: 10px;
  line-height: 110%;
  width: 160px;
}

.wallet-title {
  width: 200px;
  font-size: 26px;
  margin-top: auto;
  margin-bottom: auto;
}

.asteroids-header {
  position: relative;
  z-index: 999;
  margin: 0 0 0 0 !important;
  padding: 10px 20px 5px 20px !important;
  box-shadow: 0px 3px 1px 1px #000000;
}

@media (max-width: 600px) {
  .asteroids-grid {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }

  .asteroid {
    width: calc(100vw - 10px) !important;
  }

  .warning {
    display: none;
  }

  .wallet-header {
    margin-left: 10px;
    margin-right: 10px;
  }

  .wallet-title {
    display: none;
  }
}

@media (max-width: 760px) {
  .asteroids-header {
    padding: 2px 0 2px 0 !important;
    margin: 0px !important;
  }

  .sk-buttons {
    padding: 0 0 0 0 !important;
  }

  .table-container {
    max-height: 160px;
  }

  .debris-gif {
    display: none !important;
  }

  .debris-table-header {
    height: 0 !important;
    opacity: 0 !important;
  }

  .debris-table {
    width: 100vw !important;
  }
}
