.navbar {
  background-color: #333333;
  width: 100%;
  position: fixed;
  bottom: 0px;
}

.menuContainer {
  width: 192.83px;
  margin: 0 auto;
}

.menuIcon {
  font-size: 30px;
}

#semanticNavbar {
  background-color: #333333;
}
